@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap');



/* RESET RESET */
/* RESET RESET */
/* RESET RESET */
/* RESET RESET */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET RESET */
/* RESET RESET */
/* RESET RESET */
/* RESET RESET */



.progressbar{
    position: fixed;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,244,2,1) 14%, rgba(77,254,40,1) 27%, rgba(78,246,253,1) 40%, rgba(0,18,255,1) 52%, rgba(141,7,250,1) 60%, rgba(255,0,194,1) 75%, rgba(255,0,0,1) 91%, rgba(245,255,0,1) 100%);
    height: 5px;
    top: 0px;
    left: 0px;
    z-index: 999999999;
}
header {
    height: auto;
    width: 100vw;
    display: flex;
    z-index: 999999;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0px;
    left: 0px;
    filter: brightness(125%);
    background-color: #ffffff;
    box-shadow: -1px -7px 31px -5px rgba(148, 146, 146, 0.75) inset;
    -webkit-box-shadow: -1px -7px 31px -5px rgba(148, 146, 146, 0.75) inset;
    -moz-box-shadow: -1px -7px 31px -5px rgba(148, 146, 146, 0.75) inset;
    border-radius: 0px 0px 6px 6px;
}

header nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: 'Bebas Neue';
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
}

header nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 40vw;
    height: 65px;

}

.contenedor-links {
    width: 60vw;
    position: relative;
}

.link-activo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #1f3f69;
    color: white;
    z-index: 99;
    filter: contrast(120%);
    height: 30px;
    width: 100px;
    scale: 1.04;

    border-radius: 5px ;
    box-shadow: -4px 3px 6px 0px rgba(97,94,94,0.8);
    -webkit-box-shadow: -4px 3px 6px 0px rgba(97,94,94,0.0.8);
    -moz-box-shadow: -4px 3px 6px 0px rgba(97,94,94,0.8);
}

.contenedor-links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none;
    color: #1f3f69;
    z-index: 99;
    filter: contrast(120%);
    /* width: auto; */
    height: 30px;
    width: 100px;
}



@keyframes animacion {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;

    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}



.logo {
    width: 20%;
    font-size: 32px;
    background-color: transparent;
    position: absolute;
    left: 10px;
}

.logo p {
    color: #1f3f69;
}


.contenedor-seccion1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: 'Roboto Mono';
    overflow: hidden;

}

.contenedor-pequeno {
    width: 30%;
    height: 100vh;
    background-color: #1f3f69;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    box-shadow: 2px 6px 80px 16px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 2px 6px 80px 16px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 2px 6px 80px 16px rgba(0, 0, 0, 0.37) inset;
    overflow: hidden;
}

.contenedor-pequeno img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: opacity(8%);
}

.contenedor-foto {
    width: 70vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(31, 63, 105);
    background: linear-gradient(90deg, rgba(31, 63, 105, 1) 0%, rgba(251, 251, 251, 0.6265099789915967) 100%);
    box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 10px 12px -4px rgba(0, 0, 0, 0.2);
}

.contenedor-foto img {
    width: 70vw;
    height: 100vh;
    z-index: -99;
    object-fit: cover;
    filter: opacity(45%);
}

.contenedor-escritura {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 7vw;
    font-family: 'Roboto Mono';
    color: white;
}

.contenedor-escritura .parrafo {
    font-size: 24px;
    font-weight: 300;
    height: 30px;

}

.contenedor-escritura .nombre {
    height: 100px;
    width: 450px;
    background-color: rgba(251, 251, 251, 0.2);
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.338);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre h2 {
    font-weight: 400;
    font-size: 2rem;
}

/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */
/* FIN DE LA PRIMERA SECCION */

.segunda-seccion {
    font-family: 'Bebas Neue';
    width: 100vw;

}

.segunda-seccion .contenedor {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    display: grid;
    font-family: 'Roboto Mono';
    font-weight: 200;
    grid-template-columns: 50%;
    overflow: hidden;
}


.segunda-seccion .contenedor .contenedor-izquierda {
    position: absolute;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.segunda-seccion .contenedor .contenedor-izquierda img {
    width: 55%;
    height: 45%;
    box-shadow: 65px 98px 20px -29px rgba(31, 63, 105, 1);
    -webkit-box-shadow: 65px 98px 20px -29px rgba(31, 63, 105, 1);
    -moz-box-shadow: 65px 98px 20px -29px rgba(31, 63, 105, 1);
    border-radius: 8px;
}


.segunda-seccion .contenedor .contenedor-izquierda .skills {
    display: grid;
    height: auto;
    width: auto;
    justify-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    object-fit: contain;

}

.segunda-seccion .contenedor .contenedor-izquierda .skills img {
    object-fit: scale-down;
}


.segunda-seccion .contenedor .contenedor-izquierda p {
    width: 400px;
    color: #777b97;
    text-align: center;
    font-size: 20px;
    box-shadow: 143px 115px 58px 3px rgba(71, 71, 71, 0);
    -webkit-box-shadow: 143px 115px 58px 3px rgba(71, 71, 71, 0);
    -moz-box-shadow: 143px 115px 58px 3px rgba(71, 71, 71, 0);
    font-weight: 400;
    /* color: rgb(0, 0, 0); */
}



.segunda-seccion .contenedor .contenedor-derecha {
    height: 100%;
    width: 50vw;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segunda-seccion .contenedor .contenedor-derecha div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: transparent;
    border-top: .5px double rgba(128, 128, 128, 0.505);
    border-bottom: .5px double rgba(128, 128, 128, 0.504);
}

.segunda-seccion .contenedor .contenedor-derecha div p {
    color: black;
    text-align: justify;
}

.titulo-seccion2 {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f3f69;
    box-shadow: -48px 3px 36px 14px rgba(53, 78, 102, 0.21);
    -webkit-box-shadow: -48px 3px 36px 14px rgba(53, 78, 102, 0.21);
    -moz-box-shadow: -48px 3px 36px 14px rgba(53, 78, 102, 0.21);
    background: rgba(31, 63, 105, 0.419);
    background: linear-gradient(90deg, rgba(31, 63, 105, 0.25) 0%, rgba(251, 251, 251, 0.102) 100%);
}


/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */
/* FIN DE LA SEGUNDA SECCION */



/* TARJETAS */
.seccion-proyectos {
    font-family: 'Roboto Mono';
    font-size: medium;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 3px 18px 0px rgba(0, 0, 0, 0.19);
    /* sombras */
    -webkit-box-shadow: 5px 3px 18px 0px rgba(0, 0, 0, 0.203);
    -moz-box-shadow: 5px 3px 18px 0px rgba(0, 0, 0, 0.154);
    background: rgb(31, 63, 105);
    /* background */
    background: linear-gradient(90deg, rgba(31, 63, 105, 0.51) 0%, rgba(251, 251, 251, 0.2572566526610644) 95%);
    height: auto;
    overflow: hidden;
    color: #1f3f69;
    filter: brightness(120%);
    border-radius: 8px;
}

.seccion-proyectos h2 {
    font-weight: 200;
    font-size: 25px;
    border-bottom: .5px solid #1f3f69;
    border-top: .5px solid #1f3f69;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.seccion-proyectos .rejilla {
    position: absolute;
    z-index: -99;
    width: 100%;
    /* height: 50vh; */
    object-fit: cover;
    filter: blur(3px);
}

.proyectos {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;

    height: auto;
    width: 150%;
    position: relative;

}

.proyectos .proyecto {
    display: flex;
    position: relative;
    border-radius: 15px;
    flex-direction: row;
    height: 70%;
    width: 45vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 6% 0px;

}

.proyectos .proyecto img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.51);
    /* filter: brightness(30%); */

}

.proyectos .proyecto .banner-texto {
    color: white;
    position: absolute;
    transform: translateY(250%);
    transition: transform .8s cubic-bezier(0.58, -0.08, 0.53, 1.28);
    background-color: #1f3f69e2;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'Bebas Neue';

}

.proyectos .proyecto .banner-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 6px 6px 44px -3px rgba(0, 0, 0, 0.68) inset;
    -webkit-box-shadow: 6px 6px 44px -3px rgba(0, 0, 0, 0.68) inset;
    -moz-box-shadow: 6px 6px 44px -3px rgba(0, 0, 0, 0.68) inset;
}

.proyectos .proyecto:hover .banner-texto {
    transform: translateX(0%);
}


.proyectos .proyecto .banner-texto :nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    width: auto;
    letter-spacing: 2.3px;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100px;
}

.proyectos .proyecto .banner-texto :nth-child(2) {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 200;
    text-align: justify;
    letter-spacing: 1px;

}

/* FIN SECCION PROYECT */
/* FIN SECCION PROYECT */
/* FIN SECCION PROYECT */
/* FIN SECCION PROYECT */
/* FIN SECCION PROYECT */


.social-bar {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 200px;
    width: auto;
    right: 1px;
    top: 45%;
    /* background-color: #1f3f690f; */

}

.social-bar .redes {
    height: 33%;
    width: 100%;
    transition: all .4s ease-in;
    display: flex;
    align-items: center;

}

.social-bar .redes:hover {
    transform: translateX(-50%);
}

.social-bar .redes a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media screen and (max-width: 800px) {

    header nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;;
    }
    header{
        height: auto;
    }

    .logo {
        margin: 0;
        font-size: 24px;
        width: 100%;
        position: relative;
        height: auto;
        margin-top: 5px;
    }

    .contenedor-links {
        position: relative;
        right: 5px;
        width: 100%;
    }

    .contenedor-links .link {
        font-size: 18px;
    }

    .contenedor-escritura {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 35%;
        left: 30%;
    }

    .contenedor-escritura .parrafo {
        width: 100%;
        font-size: 20px;
        font-weight: 300;
        height: 30px;
    }

    .contenedor-escritura .nombre {
        height: 100px;
        background-color: rgba(251, 251, 251, 0.2);
        box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.338);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* segunda seccion */

    .segunda-seccion .contenedor {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .segunda-seccion .contenedor .contenedor-izquierda {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .segunda-seccion .contenedor .contenedor-derecha div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    .seccion-proyectos .proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion-proyectos .proyectos .proyecto {
        width: 60%;
        height: 60%;
    }

    .proyectos .proyecto .banner-texto {

        transform: translateX(0%);
        transition: transform .8s cubic-bezier(0.58, -0.08, 0.53, 1.28);
        background-color: #1f3f6997;

    }

    .proyectos .proyecto .banner-texto :nth-child(1) {
        font-size: 24px;
        font-family: 'Roboto Mono';
        font-weight: 400;

    }

    .proyectos .proyecto .banner-texto :nth-child(2) {
        font-size: 16px;
        letter-spacing: 1px;
        width: 80%;
        font-family: 'Roboto Mono';
        font-weight: 400;
    }
    .social-bar {
        margin-right: 10px;
    }
}

@media screen and (max-width: 500px) {

    .contenedor-escritura {
        width: 60%;
        left: 20%;
    }

    .contenedor-escritura .nombre {
        width: 300px;
    }

    .contenedor-escritura .nombre h2 {
        font-size: 1.3rem;
    }

    .contenedor-escritura .parrafo {
        font-size: 1rem;
        width: auto;
        height: auto;
    }



}